html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.row {
    clear: both;
}

.col {
    float: left;
    width: calc(100%/3);
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.img-responsive {
    max-width: 100%;
    display: block;
}
h1 {
    margin: 0; 
}
header {
    background: green;
    height: 15vh;
    line-height: 15vh;

}

header h1 {
    color:white;
    text-align: center;
    font-size: 1.4em;
}

.box {
    padding: 10px;
}

@media (max-width:768px) {
    header {
        background: red;
    }
}


@media (max-width:480px) {
    .col {
        width: 100%;
    }
    
    header {
        background: grey;
        line-height: normal;
        padding-top: 10px;
    }

}